<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DSA.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DSA.App.Properties.Settings>
            <setting name="DataCenterRootUrl" serializeAs="String">
                <value>http://localhost:8000</value>
            </setting>
            <setting name="LastDatetimeUrl" serializeAs="String">
                <value>/v1/data/get-last-datetime</value>
            </setting>
            <setting name="DataUrl" serializeAs="String">
                <value>/v1/data/add</value>
            </setting>
            <setting name="AnalyticsConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Initial Catalog=sandbox;Integrated Security=true</value>
            </setting>
            <setting name="Agency" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>gJBJj5UIS1MEyNbExQj6o8fzLBYy6MHM</value>
            </setting>
            <setting name="ApiKeySecret" serializeAs="String">
                <value>nuVhBSBwLqSHQHIEJAQubZQ0OvDmTTZwDk7TttViJ9O6xzCZtuaeGWExgXOwO1NN</value>
            </setting>
            <setting name="TestUrl" serializeAs="String">
                <value>/v1/keys/test</value>
            </setting>
            <setting name="RunInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TaskName" serializeAs="String">
                <value>Intterra Data Shipping App</value>
            </setting>
            <setting name="TaskDescription" serializeAs="String">
                <value>Reads incident response data from RMS data sources as configured and send to Intterra's secure API</value>
            </setting>
            <setting name="AnalyticsIncidentsSelect" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="AnalyticsIncidentsFrom" serializeAs="String">
                <value>dbo.incident_summary</value>
            </setting>
            <setting name="AnalyticsIncidentsWhere" serializeAs="String">
                <value>last_updated_rms &gt; '{{LASTUPDATEDDATETIME}}'</value>
            </setting>
            <setting name="AnalyticsIncidentsOrderBy" serializeAs="String">
                <value>incident_datetime</value>
            </setting>
            <setting name="AnalyticsUnitsSelect" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="AnalyticsUnitsFrom" serializeAs="String">
                <value>dbo.unit_summary</value>
            </setting>
            <setting name="AnalyticsUnitsWhere" serializeAs="String">
                <value>last_updated_rms &gt; '{{LASTUPDATEDDATETIME}}'</value>
            </setting>
            <setting name="AnalyticsUnitsOrderBy" serializeAs="String">
                <value>last_updated_rms</value>
            </setting>
            <setting name="Limit" serializeAs="String">
                <value>50</value>
            </setting>
        </DSA.App.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
