<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dataCenterRootUrl" value="http://localhost:8000"/>
    <add key="lastDatetimeUrl" value="/v1/data/get-last-datetime"/>
    <add key="dataUrl" value="/v1/data/add"/>
    <add key="analyticsConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=sandbox;Integrated Security=true"/>
    <add key="analyticsIncidentsQuery" value="SELECT TOP {{LIMIT}} * FROM dbo.incident_summary WHERE last_updated_rms &gt; '{{LASTUPDATEDDATETIME}}';"/>
    <add key="analyticsUnitsQuery" value="SELECT TOP {{LIMIT}} * FROM dbo.unit_summary WHERE last_updated_rms &gt; '{{LASTUPDATEDDATETIME}}';"/>
    <add key="agency" value=""/>
    <add key="apiKey" value="gJBJj5UIS1MEyNbExQj6o8fzLBYy6MHM"/>
    <add key="apiKeySecret" value="nuVhBSBwLqSHQHIEJAQubZQ0OvDmTTZwDk7TttViJ9O6xzCZtuaeGWExgXOwO1NN"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
